/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>

// misc aliases
#define MEH(key) LC(LS(LA(key)))         // MEH(key) = Ctrl+Shift+Alt+<key>
#define MEHK LC(LS(LALT))                // MEHK = Ctrl+Shift+Alt
#define HYPER LS(LC(LA(LGUI)))           // HYPER = Ctrl+Shift+GUI
#define HYP(key) LS(LC(LA(LG(key))))     // HYP(key) = Ctrl+Shift+Alt+GUI+<key>
#define LSG(key) LS(LG(key))             // LSG(key) = Shift+GUI+<key>
#define W_PREV LA(LEFT)                  // Previous Word
#define W_NEXT LA(RIGHT)                 // Next Word

&mt {
  flavor = "tap-preferred";
  tapping_term_ms = <200>;
};

&mmv {
    time-to-max-speed-ms = <600>;
};

/ {

  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    td: tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    td_caps: tap_dance_smart_shift {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_SMART_SHIFT";
      #binding-cells = <0>;
      tapping-term-ms = <210>;
      bindings = <&sk RSHIFT>, <&caps_word>;
    };
    skq: sticky_key_quick_release {
      compatible = "zmk,behavior-sticky-key";
      label = "STICKY_KEY_QUICK_RELEASE";
      #binding-cells = <1>;
      bindings = <&kp>;
      release-after-ms = <1000>;
      quick-release;
      ignore-modifiers;
    };
    bspc_del: backspace_delete {
      compatible = "zmk,behavior-mod-morph";
      label = "BACKSPACE_DELETE";
      #binding-cells = <0>;
      bindings = <&kp BACKSPACE>, <&kp DELETE>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
  };

// key positions
// --------------------------------------------------------------------------------
// |  0  |  1  |  2  |  3  |  4  |  5  |               |  6  |  7  |  8  |  9  |  10 |  11 |
// |  12 |  13 |  14 |  15 |  16 |  17 |               |  18 |  19 |  20 |  21 |  22 |  23 |
// |  24 |  25 |  26 |  27 |  28 |  29 |               |  30 |  31 |  32 |  33 |  34 |  35 |
// |  36 |  37 |  38 |  39 |  40 |  41 |  42 |    | 43 |  44 |  45 |  46 |  47 |  48 |  49 |
//                   |  50 |  51 |  52 |  53 |    | 54 |  55 |  56 |  57 |
//

  keymap {
    compatible = "zmk,keymap";
    default_layer {
// ----------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                  |  6   |  7   |  8   |  9   |   0   |   -   |
// |  BSPC |  Q  |  W  |  E   |  R   |  T   |                  |  Y   |  U   |  I   |  O   |   P   |   \   |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                  |  H   |  J   |  K   |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   [   |  |   ]   |  N   |  M   |  ,   |  .   |   /   | SHIFT |
//                     | ALT  | CMD  | LWR  | ENTER |  | SPACE | SYM  | CTRL |  NAV |
      bindings = <
&gresc      &kp N1 &kp N2       &kp N3      &kp N4      &kp N5                           &kp N6  &kp N7      &kp N8          &kp N9        &kp N0   &kp MINUS
&bspc_del   &kp Q  &kp W        &kp E       &kp R       &kp T                            &kp Y   &kp U       &kp I           &kp O         &kp P    &kp BSLH
&kp TAB     &kp A  &kp S        &kp D       &kp F       &kp G                            &kp H   &kp J       &kp K           &kp L         &kp SEMI &kp SQT
&skq LSHFT  &kp Z  &kp X        &kp C       &kp V       &kp B     &kp LBKT   &kp RBKT     &kp N   &kp M       &td MINUS COMMA &td UNDER DOT &kp FSLH &td_caps
                                &sk LALT    &sk LGUI    &kp HYPER &kp RET    &mt MEHK SPC &to 1   &sk LCTRL   &to 2
      >;
    };

    symbol_layer {
// ----------------------------------------------------------------------------------------------------
// |       |  F1 |  F2 |  F3  |  F4 |  F5 |                  |  F6  |  F7 |  F8  |  F9 | F10  |  F11  |
// |       |  !  |  @  |  #   |  $  |  %  |                  |  ^   |  &  |  *   |  (  |  )   |  F12  |
// |       |  1  |  2  |  3   |  4  |  5  |                  |  6   |  7  |  8   |  9  |  0   |  "|"  |
// |       |  ~  |  +  |  =   |  {  |  }  |       |  |       |  [   |  ]  |  -   |  _  |  ?   |       |
//                     |      |     | LWR |       |  |       |  NAV |     |      |
      bindings = <
&trans  &kp F1      &kp F2    &kp F3      &kp F4      &kp F5                      &kp F6      &kp F7    &kp F8    &kp F9    &kp F10     &kp F11
&trans  &kp EXCL    &kp AT    &kp HASH    &kp DOLLAR  &kp PRCNT                   &kp CARET   &kp AMPS  &kp ASTRK &kp LPAR  &kp RPAR    &kp F12
&trans  &kp N1      &kp N2    &kp N3      &kp N4      &kp N5                      &kp N6      &kp N7    &kp N8    &kp N9    &kp N0      &kp PIPE
&trans  &kp TILDE   &kp PLUS  &kp EQUAL   &kp LBRC    &kp RBRC  &trans   &trans   &kp LBKT    &kp RBKT  &kp MINUS &kp UNDER &kp QMARK   &trans
                              &trans      &trans      &to 0     &trans   &trans   &to 2       &trans    &none
      >;
    };

    navigation_layer {
// ------------------------------------------------------------------------------------------------------------------
// |       |      |       |       |       |  <<  |                  | MEH+6 | MEH+7 | MEH+8 | MEH+9 | MEH+0 | MEH+- |
// |       | MW ↑ | L CLK |  M ↑  | R CLK |  >>  |                  | PG ↑  | ⌥+←   |   ↑   |  ⌥+→  | HOME  |  ⌘+`  |
// |       | MW ↓ |  M ←  |  M ↓  |  M →  | PLAY |                  | PG ↓  |   ←   |   ↓   |   →   | END   | MEH+' |
// |       | MW ← |  MW → |       | ⌃+⌘+4 | MUTE | VOL + |  | VOL - | ⇧+⌘+A | TAB ← |       | TAB → |       | HYP+' |
//                        |       |       | LWR  |       |  |       |  SYM  |       |  SYS  |
      bindings = <
&trans  &none            &none             &none          &none           &kp C_PREV                           &kp MEH(6) &kp MEH(7) &kp MEH(8) &kp MEH(9)   &kp MEH(0) &kp MEH(MINUS)
&kp DEL &mwh SCROLL_UP   &mkp LCLK         &mmv MOVE_UP   &mkp RCLK       &kp C_NEXT                           &kp PG_UP  &kp W_PREV  &kp UP    &kp W_NEXT   &kp HOME   &kp LG(GRAVE)
&trans  &mwh SCROLL_DOWN &mmv MOVE_LEFT    &mmv MOVE_DOWN &mmv MOVE_RIGHT &kp C_PP                             &kp PG_DN  &kp LEFT    &kp DOWN  &kp RIGHT    &kp END    &kp MEH(SQT)
&trans  &mwh SCROLL_LEFT &mwh SCROLL_RIGHT &none          &kp LSG(4)      &kp K_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp LSG(A) &kp MEH(M)  &none     &kp MEH(DOT) &none      &kp HYP(SQT)
                                           &trans         &trans          &to 0      &trans       &trans       &to 1      &trans      &to 3
      >;
    };

    system_layer {
// -------------------------------------------------------------------------------------------------------------------
// | BTCLR |  BT1  |  BT2  |  BT3  |  BT4  |  BT4  |                  |       |       |       |       |       |       |
// |       |       |       |       |       |       |                  |       |       |       |       |       |       |
// |       |       |       |       |       |       |                  |       |       |       |       |       |       |
// |       |       |       |       |       |       | RESET |  | RESET |       |       |       |       |       |       |
//                         |       |       |  LWR  |       |  |       |  NAV  |       |       |
      bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                       &none &none &none &none &none &none
&none      &none        &none        &none        &none        &none                              &none &none &none &none &none &none
&none      &none        &none        &none        &none        &none                              &none &none &none &none &none &none
&none      &none        &none        &none        &none        &none        &sys_reset &sys_reset &none &none &none &none &none &none
                                     &none        &none        &to 0        &none      &none      &to 2 &none &none
      >;
    };
  };
};
